*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #9a9a9a;
}

.contenedor{
    width: 96%;
    max-width: 1000px;
    margin: 20px auto;
}

header{
    background-color: white;
}

header nav{
    width: 100%;
}

header nav ul{
    list-style: none;
    overflow: hidden;
}

header nav ul li{
    float: left;
}

header nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 15px 20px;
}

header nav ul li a:hover{
    background-color: black;
    color: white;
}

.main{
    float: left;
    width: 70%;
    background-color: white;
}

.main .imagen{
    width: 100%;

}

.main .imagen img{
    width: 100%;
    vertical-align: top;
}

.main .posts{
    padding: 40px;
}

.main .posts article h2{
    margin-bottom: 20px;
}

.main .posts article p{
    margin-bottom: 15px;
    line-height: 27px;
}

aside{
    width: 30%;
    float: left;
    background-color: wheat;
    padding: 20px;
}

aside .widget{
    margin-bottom: 25px;
}

aside .widget .titulo{
    color: rgb(18, 189, 12);
    border-bottom: 2px solid #000;
}

aside .widget ul{
    list-style: none;
}

aside .widget ul li{
    padding: 10px 0;
}

aside .widget ul li a{
    color: black;
    text-decoration: none;
}

aside .widget ul li a:hover{
    color: blueviolet;
}

aside .widget p{
    line-height: 27px;
}

footer{
    overflow: hidden;
    width: 70%;
    background-color: black;
    color: white;
    padding: 15px 0;
    text-align: center;
}